<div class="container">
  <br>
  <h1><img src="assets/path/to/image/agile-central.png">Agile Central</h1>
  <hr>
  <p>
    CA Agile Central is the agile management platform that takes you through the entire development lifecycle in a collaborative way.
    This tool will help to capture customer use cases in the form of User stories and help you to track entire work items including status of builds,
    defects and over all status of the project.
  </p>
  <p>
    We have customized CA Agile central based on profile of Scrum team participants. Following are examples of customization
  </p>
  <ul>
    <li>
      A solution architect and customer (Over the web access) will work on the user story and implement an Agile methodology
      in terms of reviewing and prioritizing the requirements.
    </li>
    <li>
      All the custom software projects will be captured under a single workspace. There will be a single database to capture the types of projects.
      A dashboard view will provide ability to look at in-progress projects based on type of technology. This will help in forecasting and resource management.
    </li>
    <li>
      Agile central will be integrated with other tools like CDETS, GitHub and Jenkins.
      This provides an automated view in the status of the code version, quality and the progress of development and testing.
    </li>
  </ul>
  <p>
    For More info on Agile Central :
    <a href="https://confluence-eng-rtp1.cisco.com/conf/display/SDS/CA+Agile+Central+at+Cisco">
      https://confluence-eng-rtp1.cisco.com/conf/display/SDS/CA+Agile+Central+at+Cisco</a>
  </p>
  Link to access Agile Central:
  <a href="https://rally1.rallydev.com/#/59461540495d/dashboard">https://rally1.rallydev.com/#/59461540495d/dashboard</a>
</div>


<!--
<p>Agile Central is a tool to capture requirements/user stories, defects, review comments, etc <br> For More info on Agile Central :
    <a href="https://confluence-eng-rtp1.cisco.com/conf/display/SDS/CA+Agile+Central+at+Cisco">https://confluence-eng-rtp1.cisco.com/conf/display/SDS/CA+Agile+Central+at+Cisco</a>
  </p>
  Link to access Agile Central:
  <a href="https://rally1.rallydev.com/#/59461540495d/dashboard">https://rally1.rallydev.com/#/59461540495d/dashboard</a>
-->
