<div class="container">
  <br>
  <h1><img src="assets/path/to/image/artifactory.png">Artifactory</h1>
  <hr>
  <p>
    <b>Artifactory</b> is a version control for your binary artifacts (jar/war files, etc).
    Artifactory can be used with the following technologies <b>Maven, Gradle</b> and <b>Ivy</b> and using several different CI Servers
    such as <b>Jenkins, TeamCity</b> and <b>Bamboo.</b>
  </p>
  <p>
    Artifactory is available for both internal and external consumption.
    This will be evolved or replaced over time to accommodate more automated distribution capabilities.
  </p>
  <p>For More info on Artifactory :
    <a href="https://engit.cisco.com/#/ci/artifactory/index">https://engit.cisco.com/#/ci/artifactory/index</a>
  </p>
</div>
