<div class="container">
  <h1><img src="assets/path/to/image/github-logo.png">GitHub3</h1>
  <h3>
    <small>Migrating to GitHub3</small>
  </h3>
  <hr>
  <ul>
    <li>Review you existing repositories in Gitlab or other existing repositories.</li>
    <li>Verify if existing repositories are customer specific or AS internal.</li>
    <li>If it is AS internal, request GitHub3 account and specify AS-Community as organization.</li>
    <li>If it is customer specific request GitHub3 account with out any organization and later create organization with customer specific name.</li>
    <li>Once you have selected right organization create  repository with domain or technology specific area (e.g.,NSO,ACI etc).</li>
    <li>After creating the repository create categorization structure as explained earlier.</li>
    <li>Migrate your existing Apps/Scripts from Gitlab to GitHub3, alternatively raise a support request with IT by providing following details:</li>
    <ul>
      <li>Source repository name, Source Directory/File name, Destination Organisation/Respository/Category in the request for IT team to complete the migration.</li>
    </ul>
  </ul>
</div>
