<br>
<div class="row grid-divider">
  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
    <div class="col-padding">
      <h4 align="center">Skills</h4>
      <br>
      <ul>
        <li>QA</li>
        <li>Network technology expertise</li>
      </ul>
      <p>Software expertise</p>
    </div>
  </div>
  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
    <div class="col-padding">
      <h4 align="center">Responsibilities</h4>
      <br>
      <ul>
        <li>Testing/Validation & Delivery</li>
        <li>Quality responsibility</li>
        <li>Release note development</li>
      </ul>
    </div>
  </div>
  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
    <div class="col-padding">
      <h4 align="center">Tools</h4>
      <br>
      <div class="container">
        <div class="display col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6" (click)="gotoJenkins()">
          <img src="assets/path/to/image/jenkins-small.png">
          &nbsp;&nbsp;Jenkins
        </div>
        <div class="display col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6" (click)="gotoSonar()">
          <img src="assets/path/to/image/sonarqube-small.gif">
          &nbsp;&nbsp;SonarQube
        </div>
        <div class="display col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6" (click)="gotoArtifactory()">
          <img src="assets/path/to/image/artifactory-small.png">
          &nbsp;&nbsp;Artifactory
        </div>
        <div class="display col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6" (click)="gotoCdets()">
          <img src="assets/path/to/image/cdets-small.png">
          &nbsp;&nbsp;CDETS
        </div>
      </div>
    </div>
  </div>
</div>
