<section id="selection">
  <div class="container">
    <div class="row">
      <div class="col-lg-12" align="center">
        <div class="section-heading">
          <h4>FEATURES</h4>
          <hr>
        </div>
        <div align="center">
          <div class="col-md-3">
            <a (click)="gotoOnboarding()">
              <span class="fa-stack fa-5x">
                <i class="fa fa-circle fa-stack-2x" style="color: grey"></i>
                <i class="fa fa-users fa-stack-1x fa-inverse"></i>
              </span><br>
              Onboarding
            </a>
          </div>
          <div class="col-md-3">
            <a (click)="gotoDashboards()">
              <span class="fa-stack fa-5x">
                <i class="fa fa-circle fa-stack-2x" style="color: grey"></i>
                <i class="fa fa-tachometer fa-stack-1x fa-inverse"></i>
              </span><br>
              Dashboards
            </a>
          </div>
          <div class="col-md-3">
            <a (click)="gotoKmPortal()">
              <span class="fa-stack fa-5x">
                <i class="fa fa-circle fa-stack-2x" style="color: grey"></i>
                <i class="fa fa-file-text fa-stack-1x fa-inverse"></i>
              </span><br>
              KM Portal
            </a>
          </div>
          <div class="col-md-3">
            <a href="http://sjc-asrvcat-win.cisco.com/RequestCenter/" target="_blank">
              <span class="fa-stack fa-5x">
                <i class="fa fa-circle fa-stack-2x" style="color: grey"></i>
                <i class="fa fa-book fa-stack-1x fa-inverse"></i>
              </span><br>
              Software Catalog
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<app-google-charts></app-google-charts>
