<br>
<div class="row grid-divider">
  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
    <div class="col-padding">
      <p>
        Primarily this initiative is focused on software development opportunities leverages cisco’s product in building solutions.
        <br>
        In high level, we can look at two major category of software development where co-development plays a role:
      </p>
      <ul>
        <li>Customization of Cisco & third party products and Licensed Apps and Software.</li>
        <li>Custom Apps & Software and associated components and libraries leveraging APIs and similar capabilities available in the products.</li>
      </ul>
    </div>
  </div>
  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
    <div class="col-padding">
      <div class="container">
        <a data-toggle="modal" data-target=".scrum-image">
          <img src="assets/path/to/image/slide1.png">
        </a>
      </div>
      <div class="modal fade scrum-image" aria-hidden="true">
        <div class="modal-body" style="display: block" align="center">
          <img src="assets/path/to/image/slide1.png">
        </div>
      </div>
    </div>
  </div>
</div>
