<!-- About -->
<nav class="navbar navbar-light bg-faded navbar-fixed-left">
  <ul class="nav navbar-nav">
    <li><a class="nav-item nav-link" routerLink="role-based-track" routerLinkActive="active">Role Based Track</a></li>
    <li><a class="nav-item nav-link" routerLink="sdlp-phased-approach" routerLinkActive="active">SDLP Phased Approach</a></li>
    <li><a class="nav-item nav-link" routerLink="cisco-learning-phases" routerLinkActive="active">Advanced Level Cisco Learning Phases</a></li>
    <li><a class="nav-item nav-link" routerLink="sample-nso" routerLinkActive="active">Sample NSO Enablement Plan</a></li>
  </ul>
</nav>
<router-outlet></router-outlet>
