<br>
<div class="row grid-divider">
  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
    <div class="col-padding">
      <h4 align="center">Skills</h4>
      <br>
      <ul>
        <li>Technology expert</li>
        <li>Architecture development as part Architecture Management office MO</li>
      </ul>
      <p><b>Certification:</b> &nbsp;&nbsp; CCIE, CCDE</p>
    </div>
  </div>
  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
    <div class="col-padding">
      <h4 align="center">Responsibilities</h4>
      <br>
      <ul>
        <li>Identifying Technology Solution for a Business outcome – Example: UCSD, NFV/NSO, VMS, ACI etc</li>
        <li>Use cases generation for solution outcomes</li>
        <li>Pseudo Code development collaborating with SW engineer integrating the solution</li>
        <li>Updating the release notes</li>
      </ul>
    </div>
  </div>
  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
    <div class="col-padding">
      <h4 align="center">Tools</h4>
      <br>
      <div class="container">
        <div class="display col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6" (click)="gotoAgile()">
          <img src="assets/path/to/image/agile-central-small.png">
          &nbsp;&nbsp;Agile Central
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6"></div>
      </div>
    </div>
  </div>
</div>
