<br>
<div class="container">
  <h1><img src="assets/path/to/image/jenkins.png">Jenkins</h1>
  <hr>
  <p>Jenkins CI is a powerful application that allows continuous integration and continuous delivery of projects, regardless of the platform you are working on.
    You can integrate Jenkins with a number of testing and deployment technologies.
    It provides users with the ability to automate common software build processes throughout the development lifecycle.
  </p>
  <p>
    We have a separate instance of Jenkins implemented to support custom development.
    This is integrated with Sonarqube, Rally, GitHub and Artifactory. The outcome of integration is for following reasons:
  </p>
  <ul>
    <li><b>Github:</b> This results in easy fetching of source code for immediate build and testing</li>
    <li><b>Rally:</b> To push overall results from the build and testing process</li>
    <li><b>SonarQube:</b> To fetch results of quality of the software </li>
    <li><b>Artifactory:</b> To push the software assets for customer download</li>
  </ul>

  <p>For More info on Jenkins :
    <a href="https://engit.cisco.com/#/ci/jenkins/index">https://engit.cisco.com/#/ci/jenkins/index</a>
  </p>
</div>
