<br>
<div class="row grid-divider">
  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
    <div class="col-padding">
      <h4 align="center">Skills</h4>
      <br>
      <ul>
        <li>Ability to Work Independently and Within Groups</li>
        <li>Analyze User Needs and Analytical Thinking</li>
        <li>Background in Programming or Computer Science/Engineering</li>
        <li>Develop Software Applications</li>
        <li>Experience With Git and Github</li>
      </ul>
    </div>
  </div>
  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
    <div class="col-padding">
      <h4 align="center">Responsibilities</h4>
      <br>
      <ul>
        <li>Development of pseudo code working with SA/SIA</li>
        <li>Development of Software Apps/Tool/Integration</li>
        <li>Review of the code for quality</li>
      </ul>
    </div>
  </div>
  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
    <div class="col-padding">
      <h4 align="center">Tools</h4>
      <br>
      <div class="container">
        <div class="display col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6" (click)="gotoAgile()">
          <img src="assets/path/to/image/agile-central-small.png">
          &nbsp;&nbsp;Agile Central
        </div>
        <div class="display col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6" (click)="gotoEclipse()">
          <img src="assets/path/to/image/eclipse-small.png">
          &nbsp;&nbsp;Eclipse
        </div>
        <div class="display col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6" (click)="gotoGithub()">
          <img src="assets/path/to/image/github-logo-small.png">
          &nbsp;&nbsp;Github3
        </div>
        <div class="display col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6" (click)="gotoJenkins()">
          <img src="assets/path/to/image/jenkins-small.png">
          &nbsp;&nbsp;Jenkins
        </div>
        <div class="display col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6" (click)="gotoSonar()">
          <img src="assets/path/to/image/sonarqube-small.gif">
          &nbsp;&nbsp;SonarQube
        </div>
      </div>
    </div>
  </div>
</div>
