<div class="container">
  <br>
  <h1>Enablement Plan</h1>
  <h3>
    <small>Software Development Lifecycle Training Program – Phased Approach</small>
  </h3>
  <hr>
  <div class="table-responsive">
    <table class="table table-bordered">
      <thead>
      <tr>
        <th>
          <!--Software Development Framework & Tools Phase 1-->
          <img src="assets/path/to/image/arrow-right.png">
        </th>
        <th>
          <!--Technology Focused Phase 2-->
          <img src="assets/path/to/image/arrow-left.png">
        </th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>
          <ul>
            <li>Software Development Frameworks & methodology Agile/Scrum</li>
            <li>CA Agile Rally</li>
            <li>GIT</li>
            <li>Jenkins</li>
            <li>Sonarqube</li>
            <li>Artifactory</li>
            <li>Integration of all the tools</li>
          </ul>
        </td>
        <td>
          <ul>
            <li>ACI</li>
            <li>NSO</li>
            <li>PNDA</li>
            <li>NFV</li>
            <li>X-Speed</li>
            <li>Robots</li>
            <li>UCSD</li>
            <li>CCC</li>
          </ul>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
