<!-- About -->
<nav class="navbar navbar-light bg-faded navbar-fixed-left">
  <ul class="nav navbar-nav">
    <li><a class="nav-item nav-link" routerLink="manage-projects" routerLinkActive="active">Manage Projects</a></li>
    <li><a class="nav-item nav-link" routerLink="add-project" routerLinkActive="active">Add Project</a></li>
    <li><a class="nav-item nav-link" routerLink="manage-users" routerLinkActive="active">Manage Users</a></li>
    <li><a class="nav-item nav-link" routerLink="add-user" routerLinkActive="active">Add User</a></li>
    <li><a class="nav-item nav-link" routerLink="manage-customers" routerLinkActive="active">Manage Customers</a></li>
    <li><a class="nav-item nav-link" routerLink="add-customer" routerLinkActive="active">Add Customer</a></li>
  </ul>
</nav>
<router-outlet></router-outlet>
