<br>
<div class="container">
  <h1><img src="assets/path/to/image/sonarqube.gif">SonarQube</h1>
  <hr>
  <p>
    <b>SonarQube</b> (formerly known as Sonar) is an open source Platform used by development teams to manage source code quality.
    It collects and analyzes source code, measuring quality and providing reports for the projects.
    <br>
    SonarQube quantifies the quality of your code in a way that is easily visible to every member of your team.
    The tool provides customizable dashboards that display quality metrics for your code each time the static analysis is performed.
    You can view seven different kinds of metrics such as unit test coverage, code duplication, and language-specific rule violations.
  </p>
  <p>For More info on SonarQube :
    <a href="https://engit.cisco.com/#/ci/sonarqube/index">https://engit.cisco.com/#/ci/sonarqube/index</a>
  </p>
</div>
