<nav class="navbar navbar-fixed-top navbar-light bg-faded">
  <button class="navbar-toggler hidden-lg-up float-xs-right" type="button" data-toggle="collapse" data-target="#navbarCollapse"></button>
  <div class="nav-margin">
    <a class="navbar-brand" routerLink="/home">
      <img src="assets/path/to/image/cisco.ico">
    </a>
    <a class="navbar-brand img-margin" routerLink="home">
      SPADE KM Portal<br>
      <p>Software Platform for Accelerated Development and Evolution</p>
    </a>
    <div class="collapse navbar-toggleable-md nav navbar-nav float-xs-right" id="navbarCollapse">
      <a class="nav-item nav-link active" routerLink="home" routerLinkActive="active">Home</a>
      <a class="nav-item nav-link" routerLink="documentation" routerLinkActive="active">Documentation</a>
      <a class="nav-item nav-link" routerLink="enablement-plan" routerLinkActive="active">Enablement Plan</a>
      <a class="nav-item nav-link" href="mailto:as-cicdtools-admin@cisco.com">Support</a>
    </div>
  </div>
</nav>


<!--
<div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle">
          Home
        </button>
        <div class="dropdown-menu">
          <a class="dropdown-item" >Spade Portal</a>
          <a class="dropdown-item" routerLink="/onboarding" routerLinkActive="active">Onboarding</a>
          <a class="dropdown-item" routerLink="/dashboards" routerLinkActive="active">Dashboards</a>
          <a class="dropdown-item" routerLink="/km" routerLinkActive="active">KM Portal</a>
          <a class="dropdown-item" href="http://sjc-asrvcat-win.cisco.com/RequestCenter/">Software Catalog</a>
        </div>
      </div>
-->
