<div class="container">
  <br>
  <h1>Enablement Plan</h1>
  <h3>
    <small>Role Based Track</small>
  </h3>
  <hr>
  <div class="table-responsive">
    <table class="table table-bordered">
      <thead class="bg-info">
      <tr>
        <th>Roles</th>
        <th colspan="2">Beginners</th>
        <th>Intermediate</th>
        <th>Advanced</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>Solution Architects / NCE</td>
        <td>SDLC/STLC/ Methodology/Frameworks</td>
        <td>Rally, Github</td>
        <td>
          Part A: <br> Technology Focused Video Tutorials covering the technology from basics to advanced level <br><br>
          Part B: <br> A Step by step  lab video tutorial to walk through the development of  a Use Case using SPADE tools for a technology eg. NSO/NFV etc.
        </td>
        <td>Work in Scrum team fashion to develop technology specific Use Case(s) using SPADE tools</td>
      </tr>
      <tr>
        <td>Software Developers / Testers</td>
        <td>SDLC/STLC/ Methodology/Frameworks</td>
        <td>Github, Jenkins</td>
        <td>
          Technology Focused Video Tutorials showcasing the Use Case development based on SPADE tools. <br>
          Self Guided lab available for a Use Case with step by step guide to develop a Use case for ACI/NSO/PANDA
        </td>
        <td>Work in Scrum team fashion to develop technology specific Use Case(s) using SPADE tools</td>
      </tr>
      <tr>
        <td>Software Tester</td>
        <td>SDLC/STLC/ Methodology/Frameworks</td>
        <td>Sonarqube, Artifactory</td>
        <td>
          Technology Focused Video Tutorials showcasing the Use Case development based on SPADE tools. <br>
          Self Guided lab available for a Use Case with step by step guide to develop a Use case for ACI/NSO/PANDA
        </td>
        <td>Work in Scrum team fashion to develop technology specific Use Case(s) using SPADE tools</td>
      </tr>
      <tr>
        <td>Project Managers</td>
        <td>SDLC/STLC/ Methodology/Frameworks</td>
        <td>Rally</td>
        <td>
          CI/CD Portal/Dashboard
        </td>
        <td>Work in Scrum team fashion to develop technology specific Use Case(s) using SPADE tools</td>
      </tr>
      </tbody>
    </table>
  </div>

</div>
