<br>
<div class="row grid-divider">
  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
    <div class="col-padding">
      <h4 align="center">Skills</h4>
      <br>
      <ul>
        <li>Project Management – PMO</li>
        <li>Scrum Process implementation</li>
      </ul>
      <p>Deal review – SOW & BDM role</p>
    </div>
  </div>
  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
    <div class="col-padding">
      <h4 align="center">Responsibilities</h4>
      <br>
      <ul>
        <li>Project status, scope & Timeline</li>
        <li>Project cost, Change Request</li>
      </ul>
    </div>
  </div>
  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
    <div class="col-padding">
      <h4 align="center">Tools</h4>
      <br>
      <div class="container">
        <div class="display col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6" (click)="gotoAgile()">
          <img src="assets/path/to/image/agile-central-small.png">
          &nbsp;&nbsp;Agile Central
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6"></div>
      </div>
    </div>
  </div>
</div>
