<div class="container">
  <h1><img src="assets/path/to/image/github-logo.png">GitHub3</h1>
  <h3>
    <small>Branching &amp; Structure</small>
  </h3>
  <hr>
  <ul>
    <li>Login to <a href="https://github3.cisco.com">GitHub3</a> once you get the account.</li>
    <li>There will be two kinds of Organizations in Github3.</li>
    <ul>
      <li>AS-Community – Internal AS repository (Note:- when you request for a new Github3 account select organization as
        <b>"AS-Community"</b> for internal AS organization unless customer specific).</li>
      <li>Customer Specific (e.g., Comcast) – Customer specific Repository.</li>
    </ul>
    <li>Both will follow the below hierarchy of directories and branching mechanism.</li>
    <img src="assets/path/to/image/Branching1.png">
    <li>Once Repository is created default Master branch will be created.</li>
    <li>Under Master Branch create following Category directory structure before creating additional branches. Create more categories based on the need.</li>
    <img src="assets/path/to/image/Branching2.png">
    <li>Create Branches from Master Branch based on need like Dev, QA, Pre-prod etc.</li>
    <img src="assets/path/to/image/Branching3.png" align="center">
  </ul>

</div>
