<div class="container">
  <h1><img src="assets/path/to/image/github-logo.png">GitHub3</h1>
  <hr>
  <p>
    A <b>source code repository</b> is a file archive and web hosting facility where a large amount of <b>source code</b>,
    for software development is kept either publicly or privately. Github enterprise has been chosen as Source code Repository.
    GitHub is a Web-based Git repository hosting service, which offers all of the distributed revision control and source code management functionality of Git.
    It also provides access control and several collaboration features such as bug tracking, feature requests and task management.
    Github provides multiple integrations in the form of the web hooks to send notifications and alerts.
  </p>
  <p>
    Refer to <a (click)="gotoBranching()"><u>Common Repository</u></a> section for additional details on branching and categorization.
  </p>
  <p>For More info on GitHub3 :
    <a href="https://engit.cisco.com/#/scm/github/index">https://engit.cisco.com/#/scm/github/index</a>
  </p>
</div>
<!--<router-outlet></router-outlet>-->
