<div class="container">
  <br>
  <h1>Enablement Plan</h1>
  <h3>
    <small>Advanced Level Cisco Learning Phases</small>
  </h3>
  <hr>
  <div class="table-responsive">
    <table class="table table-bordered">
      <thead>
      <tr>
        <th><img src="assets/path/to/image/cohort.png"></th>
        <th><img src="assets/path/to/image/decide.png"></th>
        <th><img src="assets/path/to/image/use-case.png"></th>
        <th><img src="assets/path/to/image/review.png"></th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>
          <ul>
            <li>Business Nomination & Registration Process</li>
            <li>Cohort & Roles Assignment</li>
            <li>Program Overview</li>
            <li>Pre-requisites training Modules i.e. Beginner & Intermediate Module completed</li>
            <li>Track Progress, send time bound notifications and updates</li>
          </ul>
        </td>
        <td>
          <ul>
            <li>WebEx/TP to review the Use cases.</li>
            <li>Sprint planning based on team assignment for next 4 weeks</li>
            <li>Schedule Daily/weekly Scrum meetings, send invitations to Program Owners</li>
          </ul>
        </td>
        <td>
          <ul>
            <li>Use Case development in a Scrum team fashion using the SPADE tools</li>
          </ul>
        <td>
          <ul>
            <li>Final review and presentation to the stakeholders</li>
            <li>Award Course completion certificate</li>
          </ul>
        </td>
      </tr>
      <tr align="center">
        <td colspan="3"><img src="assets/path/to/image/4weeks.png"></td>
        <td><img src="assets/path/to/image/final-week.png"></td>
      </tr>
      </tbody>
    </table>
  </div>

</div>
