<!-- About -->
<nav class="navbar navbar-light bg-faded navbar-fixed-left">
  <ul class="nav navbar-nav">
    <li><a class="nav-item nav-link" routerLink="custom-dashboards" routerLinkActive="active">Custom Dashboards</a></li>
    <li><a class="nav-item nav-link" href="https://rally1.rallydev.com/#/60911267918d/custom/82637307220" target="_blank">Rally Dashboards</a></li>
    <!--<li><a class="nav-item nav-link" routerLink="rally-dashboards" routerLinkActive="active">Rally Dashboards</a></li>-->
  </ul>
</nav>
<router-outlet></router-outlet>
