<div class="container">
  <br>
  <h1>Enablement Plan</h1>
  <h3>
    <small>Sample NSO Enablement Plan </small>
  </h3>
  <hr>
  <div class="table-responsive">
    <table class="table table-bordered">
      <thead class="bg-info">
      <tr>
        <th>Topics</th>
        <th>Video Duration (mins)</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>NSO Introduction</td>
        <td>5 mins</td>
      </tr>
      <tr>
        <td>NSO FastMap</td>
        <td>3 mins</td>
      </tr>
      <tr>
        <td>NSO template based service</td>
        <td>7 mins</td>
      </tr>
      <tr>
        <td>NSO AAA structure</td>
        <td>2 mins</td>
      </tr>
      <tr>
        <td>NSO Compliance Reporting</td>
        <td>11 mins</td>
      </tr>
      <tr>
        <td>NSO HA</td>
        <td>7 mins</td>
      </tr>
      <tr>
        <td>NSO Service Discovery</td>
        <td>9 mins</td>
      </tr>
      <tr>
        <td>Backup & Restore</td>
        <td>5 mins</td>
      </tr>
      <tr>
        <td>Troubleshooting & Logs</td>
        <td>3 mins</td>
      </tr>
      <tr>
        <td>NSO Reactive FastMap</td>
        <td>2 mins</td>
      </tr>
      <tr>
        <td>NSO Integration WRT REST vs JSON</td>
        <td>14 mins</td>
      </tr><tr>
        <td>NSO Resource Pool packages and Usage</td>
        <td>10 mins</td>
      </tr>
      <tr>
        <td>NSO stacked Service</td>
        <td>11 mins</td>
      </tr>
      <tr>
        <td>NSO Java APIs</td>
        <td>8 mins</td>
      </tr>
      <tr>
        <td>AAA external Integration</td>
        <td>5 mins</td>
      </tr>
      <tr>
        <td>NSO Service reconciliation</td>
        <td>5 mins</td>
      </tr>
      <tr>
        <td>LUX Scripting</td>
        <td>4 mins</td>
      </tr><tr>
        <td>NSO Clustering</td>
        <td>2 mins</td>
      </tr>
      <tr>
        <td>NSO Service Package upgrades</td>
        <td>6 mins</td>
      </tr><tr>
        <td>NED Upgrades</td>
        <td>12 mins</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
