<!-- About -->
<nav class="navbar navbar-light bg-faded navbar-fixed-left">
  <ul class="nav navbar-nav">
    <li><a class="nav-item nav-link" routerLink="about-github3" routerLinkActive="active">About GitHub3</a></li>
    <li><a class="nav-item nav-link" routerLink="onboard-github3" routerLinkActive="active">How to Onboard</a></li>
    <li><a class="nav-item nav-link" routerLink="branching-and-structure" routerLinkActive="active">Branching &amp; Structure</a></li>
    <li><a class="nav-item nav-link" routerLink="migrate" routerLinkActive="active">Migrate</a></li>
    <li><a class="nav-item nav-link" routerLink="publishing-to-ssc" routerLinkActive="active">Publishing to SSC</a></li>
  </ul>
</nav>
<br>

<router-outlet></router-outlet>

